/* BODY */

body {
  font-family: 'Roboto';
  color: #191919;
}

/* HEADER */

header {
  height: 455px;
  background-color: #ffc017;
  border-bottom: 1px solid #191919;
  margin-top: 75px;
  overflow: hidden;
}

nav {
  height: 75px;
  background-color: #ffc017;
  border-bottom: 1px solid #191919;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;
  box-sizing: border-box;
  padding: 25px;
  transition: 1s;
}

.whiteNav {
  background-color: #ffffff;
}

nav div,
div ul {
  display: flex;
  align-items: center;
}

nav ul li {
  padding: 10px 10px;
}

ul li.hiddenLi {
  display: none;
}

nav img {
  height: 25px;
}

nav button {
  background-color: #191919;
  color: #ffffff;
  border: none;
  padding: 12px 15px;
  border-radius: 50px;
  margin-left: 10px;
  transition: 1s;
}

.greenButton {
  background-color: #1a8917;
}

header section {
  height: 455px;
  display: flex;
  padding: 0px 25px;
  position: relative;
}

header section h1 {
  font-size: 70px;
  font-family: 'Spectral';
  font-weight: 500;
  letter-spacing: -6px;
  margin-bottom: 30px;
}

header section div {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background: linear-gradient(
    90deg,
    rgba(255, 192, 23, 1) 85%,
    rgba(255, 192, 23, 0) 100%
  );
  z-index: 1;
}

header section svg {
  min-width: 585px;
  display: none;
  position: absolute;
  right: -28%;
  z-index: 0;
}

header section button {
  background-color: #191919;
  color: #ffffff;
  font-size: 18px;
  border: none;
  padding: 12px 50px;
  border-radius: 50px;
  margin-top: 50px;
}

header section p {
  font-size: 18px;
  font-weight: 500;
}

/* MAIN */

main {
}

#trending {
  padding: 0px 25px;
  border-bottom: 1px solid #e2e2e2;
  display: flex;
  flex-direction: column;
}

#trending > div:first-of-type {
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 700;
  padding: 40px 0px 10px 0px;
}

#trending > div:first-of-type img {
  padding-right: 10px;
}

#trendingArticles {
  display: flex;
  flex-direction: column;
}

.trendingArticle {
  display: flex;
  flex-direction: row;
  padding-bottom: 30px;
}

.trendingArticle > div:first-of-type {
  display: flex;
  flex-direction: row;
  color: #e2e2e2;
  font-size: 30px;
  font-weight: 800;
  padding-right: 20px;
}

#trendingAuthor {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 12px;
  font-weight: 600;
  color: #191919;
}

#trendingAuthor img {
  width: 20px;
  border-radius: 100%;
  margin-right: 10px;
}

.trendingInfo {
  display: flex;
  flex-direction: column;
  padding-top: 5px;
}

#trendingTitle {
  font-size: 16px;
  font-weight: 800;
  padding-top: 10px;
}

#dateTime {
  display: flex;
  justify-content: space-between;
  color: #808080;
  font-size: 12px;
  font-weight: 500;
  padding-top: 12px;
}

#discover {
  padding: 0px 25px;
  border-bottom: 1px solid #e2e2e2;
  display: flex;
  flex-direction: column;
}

#discover div h3 {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 800;
  padding: 50px 0px 15px 0px;
}

#tagButtons {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 25px;
  border-bottom: 1px solid #e2e2e2;
}

.tagButton {
  color: gray;
  background-color: #ffffff;
  font-size: 13px;
  font-weight: 500;
  padding: 7px 15px;
  border: 1px solid #e2e2e2;
  margin: 5px 10px 5px 0px;
}

#info {
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
}

#info li {
  color: gray;
  background-color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  padding: 6px 25px 6px 0px;
}

/* MEDIA QUERY TABLET*/

@media screen and (min-width: 600px) {
  nav {
    padding: 25px 40px;
  }

  ul li.hiddenLi {
    display: inline-block;
  }

  header section svg {
    display: block;
  }
  header section {
    padding: 0px 40px;
  }

  header section h1 {
    font-size: 85px;
  }
  header section p {
    font-size: 22px;
  }

  #trending,
  #discover {
    padding: 0px 40px;
  }

  #trendingArticles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .trendingArticle {
    flex-basis: 48%;
    margin-right: 2%;
  }
}

/* MEDIA QUERY DESKTOP*/

@media screen and (min-width: 900px) {
  nav {
    padding: 25px 80px;
  }
  header section svg {
    display: block;
  }
  header section {
    padding: 0px 80px;
  }
  header section h1 {
    font-size: 105px;
  }

  header section p {
    font-size: 22px;
  }

  #trending,
  #discover {
    padding: 0px 80px;
  }

  #trendingArticles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .trendingArticle {
    flex-basis: 31.3%;
    margin-right: 2%;
  }
}
